# --- Golang ---
*.exe
*.exe~
*.dll
*.so
bin/
vendor/
.env

# --- Frontend (Node/React) ---
node_modules/
dist/
build/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/

# Profiling output
*.out

# Ignorar arquivos de log
*.log
*.jsonl

# Ignorar arquivos de teste de carga/caos
*.csv
!produtos_teste.csv
# (O '!' significa: "Ignore todos os CSVs, EXCETO estes dois que são de exemplo fixo")

# Ignorar binários compilados (se houver)
main.exe
dataprofiler.exe